// import var
@use './partials/variables';
// header content
.app-header {
  position: relative;
  padding: 1em; //without the 1 em padding the spacing would be incorrect
}

.hero-gradient-bg-container {
  position: absolute;
  inset: 0;
  height: 50vh;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 6%, 0 31%);
}

.hero-gradient-bg {
  height: 100%;
  width: 100%;
  background-image: var(--bg-gradient);
  background-size: 400%;
  background-position: inherit;
  transition: background-position 3s;
  animation: bg-loop-animation 5s ease alternate infinite both;
}
// text/brand name
.title-header {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(text-color);
  mix-blend-mode: overlay;
  isolation: isolate; //should help witht the blend mode to have a consistent look
  z-index: 3;
}
// simple animation for the gradient loop
@keyframes bg-loop-animation {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
